# "üåç‚ú® Let's break language barriers with AI-powered translation! üî•üó£Ô∏è"

In [1]:
import numpy as np
import pandas as pd
import os
import string
from string import digits
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model
import re

In [70]:
path_data = '../Data/Hindi_English_Corpus.csv'

In [71]:
data_lines = pd.read_csv(path_data)
data_lines.head(5)

,source,english_sentence,hindi_sentence
0,ted,politicians do not have permission to do what ...,"‡§∞‡§æ‡§ú‡§®‡•Ä‡§§‡§ø‡§ú‡•ç‡§û‡•ã‡§Ç ‡§ï‡•á ‡§™‡§æ‡§∏ ‡§ú‡•ã ‡§ï‡§æ‡§∞‡•ç‡§Ø ‡§ï‡§∞‡§®‡§æ ‡§ö‡§æ‡§π‡§ø‡§è, ‡§µ‡§π ‡§ï‡§∞..."
1,ted,"I'd like to tell you about one such child,",‡§Æ‡§à ‡§Ü‡§™‡§ï‡•ã ‡§ê‡§∏‡•á ‡§π‡•Ä ‡§è‡§ï ‡§¨‡§ö‡•ç‡§ö‡•á ‡§ï‡•á ‡§¨‡§æ‡§∞‡•á ‡§Æ‡•á‡§Ç ‡§¨‡§§‡§æ‡§®‡§æ ‡§ö‡§æ‡§π‡•Ç...
2,indic2012,This percentage is even greater than the perce...,‡§Ø‡§π ‡§™‡•ç‡§∞‡§§‡§ø‡§∂‡§§ ‡§≠‡§æ‡§∞‡§§ ‡§Æ‡•á‡§Ç ‡§π‡§ø‡§®‡•ç‡§¶‡•Å‡§ì‡§Ç ‡§™‡•ç‡§∞‡§§‡§ø‡§∂‡§§ ‡§∏‡•á ‡§Ö‡§ß‡§ø‡§ï ‡§π‡•à‡•§
3,ted,what we really mean is that they're bad at not...,‡§π‡§Æ ‡§Ø‡•á ‡§®‡§π‡•Ä‡§Ç ‡§ï‡§π‡§®‡§æ ‡§ö‡§æ‡§π‡§§‡•á ‡§ï‡§ø ‡§µ‡•ã ‡§ß‡•ç‡§Ø‡§æ‡§® ‡§®‡§π‡•Ä‡§Ç ‡§¶‡•á ‡§™‡§æ‡§§‡•á
4,indic2012,.The ending portion of these Vedas is called U...,‡§á‡§®‡•ç‡§π‡•Ä‡§Ç ‡§µ‡•á‡§¶‡•ã‡§Ç ‡§ï‡§æ ‡§Ö‡§Ç‡§§‡§ø‡§Æ ‡§≠‡§æ‡§ó ‡§â‡§™‡§®‡§ø‡§∑‡§¶ ‡§ï‡§π‡§≤‡§æ‡§§‡§æ ‡§π‡•à‡•§

In [72]:
ted_source = data_lines.source == 'ted'
data_lines = data_lines[ted_source]

In [73]:
data_lines.loc[93409]

source                                                            ted
english_sentence    But it turns out that tryptophan also happens ...
hindi_sentence      ‡§≤‡•á‡§ï‡§ø‡§® ‡§Ø‡§π ‡§™‡§§‡§æ ‡§ö‡§≤‡§æ ‡§π‡•à ‡§ï‡§ø tryptophan ‡§≠‡•Ä ‡§™‡§æ‡§Ø‡§æ ‡§ú‡§æ‡§§‡§æ ‡§π‡•à
Name: 93409, dtype: object

In [74]:
print(f'Shape of data before deleting null values: {data_lines.shape}')
data_lines.isnull().sum()

Shape of data before deleting null values: (39881, 3)

source              0
english_sentence    0
hindi_sentence      0
dtype: int64

In [75]:
data_lines.drop_duplicates(inplace = True)
print(f'Shape of data after deleting duplicate values: {data_lines.shape}')

Shape of data after deleting duplicate values: (38803, 3)

##### Convert text to lowercase, remove single quotes, and remove all special characters.

In [76]:
def preprocess_text(text):
    """
    Convert text to lowercase, remove single quotes, and remove all special characters.
    
    Args:
    text (str or any): The input value.
    
    Returns:
    str: The processed string, or an empty string if the input is not valid.
    """
    if isinstance(text, str):  
        text = text.lower()                # Convert to lowercase
        text = re.sub("'", '', text)       # Remove single quotes
        text = re.sub(f"[{re.escape(string.punctuation)}]", "", text)  # Remove special characters
        text = re.sub(r'\d+', '', text)  # Remove standard digits
        text = re.sub(r'[‡•¶-‡•Ø]', '', text)  # Remove Hindi digits (Unicode range)
        text = re.sub(' +'," ",text).strip()
    return text if isinstance(text, str) else ""

In [77]:
data_lines['english_sentence'] = data_lines['english_sentence'].astype(str).apply(preprocess_text)
data_lines['hindi_sentence'] = data_lines['hindi_sentence'].astype(str).apply(preprocess_text)
data_lines.sample(5)

,source,english_sentence,hindi_sentence
84728,ted,the first time in any sort of public setting,‡§ï‡§ø‡§∏‡•Ä ‡§≠‡•Ä ‡§∏‡§æ‡§∞‡•ç‡§µ‡§ú‡§®‡§ø‡§ï ‡§Æ‡§Ç‡§ö ‡§™‡§∞ ‡§™‡§π‡§≤‡•Ä ‡§¨‡§æ‡§∞
86103,ted,of not using sanitary pad,‡§∏‡§Æ‡§æ‡§ú ‡§Æ‡•á‡§Ç ‡§∏‡•à‡§®‡•á‡§ü‡§∞‡•Ä ‡§™‡•à‡§° ‡§®‡§æ ‡§á‡§∏‡•ç‡§§‡•á‡§Æ‡§æ‡§≤ ‡§ï‡§∞ ‡§™‡§æ‡§®‡•á ‡§ï‡•Ä ‡§∏‡§Æ...
126623,ted,now lets turn to two countries,‡§Ö‡§¨ ‡§´‡§º‡§ø‡§∞ ‡§∏‡•á ‡§è‡§ï ‡§®‡§ú‡§º‡§∞ ‡§¶‡•ã ‡§¶‡•á‡§∂‡•ã‡§Ç ‡§™‡§∞
100326,ted,what this dark energy that the universe is mad...,‡§∂‡•ç‡§Ø‡§æ‡§Æ ‡§™‡§¶‡§æ‡§∞‡•ç‡§• ‡§ï‡•ç‡§Ø‡§æ ‡§π‡•à ‡§¨‡•ç‡§∞‡§π‡•ç‡§Æ‡§æ‡§£‡•ç‡§° ‡§ú‡§ø‡§∏‡§∏‡•á ‡§¨‡§®‡§æ ‡§â‡§∏ ‡§∏...
93616,ted,youre an percent bicyclist‚Äù,‡§Ü‡§™ ‡§∏‡§æ‡§Ø‡§ï‡§ø‡§≤ ‡§ö‡§≤‡§æ‡§®‡§æ ‡§∏‡•Ä‡§ñ ‡§ó‡§Ø‡•á ‡§π‡•à‡§Ç‡•§‚Äù

In [79]:
data_lines['hindi_sentence'] = data_lines['hindi_sentence'].apply(lambda x : "START_" + x + "_END")
data_lines.sample(5)

,source,english_sentence,hindi_sentence
8874,ted,youve heard that saying,START_‡§Ü‡§™‡§®‡•á ‡§ï‡§à ‡§¨‡§æ‡§∞ ‡§Ø‡•á ‡§∏‡•Å‡§®‡§æ ‡§π‡•ã‡§ó‡§æ_END
35758,ted,that is actually the device,START_‡§Ø‡§π ‡§µ‡§æ‡§∏‡•ç‡§§‡§µ ‡§Æ‡•á‡§Ç ‡§Æ‡•ã‡§¨‡§æ‡§à‡§≤ ‡§π‡•à‡§Ç_END
110127,ted,this is the wrong way of looking at it,START_‡§Ø‡§π ‡§á‡§∏‡•á ‡§¶‡•á‡§ñ‡§®‡•á ‡§ï‡§æ ‡§ó‡§≤‡§§ ‡§§‡§∞‡•Ä‡§ï‡§æ ‡§π‡•à_END
113189,ted,the fact is no government in the world,START_‡§§‡§•‡•ç‡§Ø ‡§Ø‡§π ‡§π‡•à ‡§ï‡§ø ‡§¶‡•Å‡§®‡§ø‡§Ø‡§æ ‡§ï‡•Ä ‡§ï‡•ã‡§à ‡§≠‡•Ä ‡§∏‡§∞‡§ï‡§æ‡§∞_END
103909,ted,up the stairs down the hall past the real fire...,START_‡§ä‡§™‡§∞ ‡§ï‡•Ä ‡§§‡§∞‡§´ ‡§¨‡§∞‡§æ‡§Æ‡§¶‡•á ‡§Æ‡•á‡§Ç ‡§Ö‡§∏‡§≤‡•Ä ‡§Ö‡§ó‡•ç‡§®‡§ø‡§∂‡§Æ‡§® ‡§ï‡§∞‡•ç‡§Æ...

In [78]:
data_lines.dtypes

source              object
english_sentence    object
hindi_sentence      object
dtype: object